.App {
  text-align: center;
}
.hochoicon {
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 1px;
}
.nav-icon {
  font-size: x-large;
  color: salmon;
}
.nav-icon:hover {
  transform: translate3d(0, 1.5px, 0);
  color: rgb(253, 100, 83);
}
.cart-icon {
  margin-left: 1rem;
}
.login-icon {
  margin-left: 0.2rem;
  margin-right: -0.2rem;
}
.googleBox {
  display: flex;
  justify-content: center; /* 좌우정렬 */
  margin-bottom: 15px;
}
.googleText {
  display: flex;
  justify-content: center;
}
.icon {
  display: flex;
}
.buttonSearch {
  background-color: initial;
  background-image: linear-gradient(-180deg, salmon, rgb(253, 100, 83));
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  height: 44px;
  line-height: 44px;
  outline: 0;
  overflow: hidden;
  padding: 0 14px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 100%;
  z-index: 9;
  border: 0;
}

.buttonSearch:hover {
  background: rgb(253, 100, 83);
}

.photoTitle {
  margin-top: 10px;
}

img {
  border-radius: 15px;
}
.product-img {
  /* 캐러셀은 shadow 아래쪽이 좀 이상해져서 작은 상품 이미지는 따로 넣었음 */
  width: 92%;
  height: auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.carousel-img {
  width: 92%;
  height: auto;
}
.navbar {
  transition: transform 0.2s ease-in-out;
}

.slide-up {
  transform: translateY(-100%);
}

.slide-down {
  transform: translateY(0);
}
.form-control.no-outline:focus {
  outline: none;
  box-shadow: none;
  border-color: #ced4da;
}
.addressStyle {
  margin-bottom: 10px;
}
.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 화면의 높이를 100%로 설정하여 수직 가운데 정렬 */
}
